.header {
  height: 48px;
  background-color: rgb(255, 255, 255, 5%);
  border-bottom: 1px solid rgb(255, 255, 255, 20%);
}
.nav {
  height: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.link {
  color: rgb(255, 255, 255, 60%);
  text-decoration: none;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.link:hover {
  color: rgb(255, 255, 255);
}
.isActive {
  color: rgb(255, 255, 255);
}
.isActive::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: -13px;
  left: 0;
}
